.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    box-shadow: rgba(149, 154, 145, .2) 0px 8px 24px;  //gölgelendirme

    .item {
        position: relative;
        background-color: $light-color;
        overflow: hidden;

        &::after {    //projelerinin belirtildiği 9 kutunun üstüne eklenen pembe efekt
            content: '';
            position: absolute;
            display: block;
            background-color: $primary-color;
            opacity: .8;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translateX(-120%) translateY(-120%) rotate(45deg);  //üstüne eklediğimiz pembe tabakayı önce kaybediyoruz
            transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);  //cubic-bezier pembe kısmın kayarak çıkması
        }

        &:hover::after {  //üstüne geldiğimizde pembe kısım çıkar
            transform: scale(2) translateX(-50%) translateY(-50%) rotate(45deg);
        }
    }
}